$base-color: #00A6CB;
$side-color: #003541;
$dark-base-color: rgb(0, 132, 161);
$light-base-color: #0e5696;
$dark-color: #323232;
$btn-hover-darker-blue: #a1a2a5;
$light-blue: #dfe2e7;
$light-grey: #E5E5E5;
$background-color: #2F6D7A;
$btn-one: linear-gradient(
    180deg,
    rgba(9, 155, 187, 0.85) 0%,
    #099bbb 7.29%,
    #099bbb 100%
  );
$red: #D34238;
$white: #fff;
$background: #F6F6F6;
$background-main-page: #F8F8F8;
$black: #525252;
$black-transp: #5252529a;
$light-green-gradient: linear-gradient(180deg, #2fd02b 0%, rgba(47, 208, 43, 0.74) 100%);
$light-blue-gradient: linear-gradient(180deg, #3BBDD9 0%, rgba(59, 189, 217, 0.82) 100%);
$dark-blue: #099BBB;

$card-shadow: 4px 4px 8px rgba(68, 68, 68, 0.25);


$logo-font-size: 8rem;
$normal-font-size: 1.4rem;
$medium-font-size: 2rem;
