@import "/src/styles/main.scss";

.costs {
  height: 100%;
  background-color: $background;

  &__container {
    padding: 2.5rem 5rem;
    height: 90%;
    overflow-y: auto;

    &__noCost {
      font-size: 2.2rem;
    }
  }
}
@media all and (min-width: 0) and (max-width: 940px) {
  .costs__container {
    padding: 1.6rem 2rem;
  }
}

@media all and (min-width: 0) and (max-width: 500px) {
  .costs__container {
    padding: 1.4rem 1.2rem;
    box-sizing: border-box;
    height: 85%;
  }
}